
/*menu*/

#home{
    margin-top: 120px;
}
/* bloco 1-chamada principal */
.home-bloco-texto{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 15px;
}
.principal-text-h2{
    margin-top: 25px;
    font-size: 30px;
}

.imagem-chamando-taxi{
    max-width: 100%;
    border-radius: 15px;
}
/* Bloco 2  */
.bloco-2-titulo-texto{
    margin-top: 190px;
    margin-bottom: 20px; 
    font-size: 30px;
}
.titulo-texto{
    font-size: 30px; 
    margin-top: 50px;
    margin-bottom: 50px;
}
.entrando-taxi{
    max-width: 100%;
    border-radius: 15px;
   
}
.lista-qualidade{
   margin-top: 50px;
    font-size: 20px;
}
/* Bloco 3 */
.img-parceirias{
    max-width: 100%;
    margin-top: 15px;
   
}
.bloco-3-titulo{
    margin-top: 190px;
    margin-bottom: 20px;
    font-size: 30px;
}
.parceirias-text{
    margin-top: 50px;
    font-size: 20px;
   
}
.bloco-3-lista-parceiria{
    font-size: 20px;
}
/* Bloco 4 */
.bloco-4-titulo{
    margin-top: 190px;
    margin-bottom: 20px;
    font-size: 30px;
}
.bloco-4-sub-titulo{
    font-size: 27px;
}
.img-empresa{
    max-width: 100%;
    border-radius: 15px;
    margin-top: 15px; 
    
}
.bloco-4-img-empresa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco-4-h3{
    margin-top: 50px;
    font-size: 20px;
}
.bloco-4-lista-empresa{
    font-size: 20px;
}

/* Bloco 5 */
.img-pagamento{
    max-width: 100%;
    border-radius: 15px;
    margin-top: 15px;
}
.bloco-5-titulo{
    margin-top: 190px;
    margin-bottom: 20px;
    font-size: 30px;
}
.bloco-5-subtitulo{
    margin-top: 50px;
    font-size: 25px;
}
.bloco-5-lista-pagamento{
    font-size: 20px;
    margin-top: 50px;
}
/* bloco 6 */
.bloco-6-lista h4{
padding-top: 10px;
font-size: 20px;
}
.bloco-informativo-icone{ 
   display: flex; 
   background-color: #ffcc2a; 
    height: 156px;
    justify-content: center;
    align-items: center; 
    border-radius: 15px;   
}

.bloco-informativo-icone svg{
    color:  #363435;
    font-size: 70px;
}

.bloco-6-h2{
    margin-top: 190px;
    margin-bottom: 20px;
    font-size: 30px;
}
/* bloco 7 */
.img-sustentabilidade{
    max-width: 100%;
    margin-top: 15px;
}
.ecologia-titulo{
    margin-top: 190PX;
    margin-bottom: 20PX;
    font-size: 30px;
}
.bloco-7-ecologia{
    margin-top: 100px;
    font-size: 20px;
   
} 
/* bloco 8 */
.bloco-8-titulo{
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 35px;
}
.bloco-8-sub-titulo{
    font-size: 25px;
    margin-bottom: 40px;
}
.bloco-8-lista{
    margin-top: 50px;
    font-size: 20px;
    
}
.bloco-8-infor{
    display: flex; 
   
}
.bloco-8-infor svg{
    margin-right: 20px;
    
}
.img-encomendas{
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
}
/*footer*/
